
@import 'mixins/_all';
@import '_colors';

.color-white { color: #fff; }
.color-grey-3 { color: $grey-3; }

@include sm {
  .color-sm-white { color: #fff; }
  .color-sm-grey-3 { color: $grey-3; }
}

@include md {
  .color-md-white { color: #fff; }
  .color-md-grey-3 { color: $grey-3; }
}

@include lg {
  .color-lg-white { color: #fff; }
  .color-lg-grey-3 { color: $grey-3; }
}

@include xl {
  .color-xl-white { color: #fff; }
  .color-xl-grey-3 { color: $grey-3; }
}
