
@import 'mixins/_all';

.z-index-1 { z-index: 1; }
.z-index-2 { z-index: 2; }
.z-index-3 { z-index: 3; }

@include sm {
  .z-index-sm-1 { z-index: 1; }
  .z-index-sm-2 { z-index: 2; }
  .z-index-sm-3 { z-index: 3; }
}

@include md {
  .z-index-md-1 { z-index: 1; }
  .z-index-md-2 { z-index: 2; }
  .z-index-md-3 { z-index: 3; }
}

@include lg {
  .z-index-lg-1 { z-index: 1; }
  .z-index-lg-2 { z-index: 2; }
  .z-index-lg-3 { z-index: 3; }
}

@include xl {
  .z-index-xl-1 { z-index: 1; }
  .z-index-xl-2 { z-index: 2; }
  .z-index-xl-3 { z-index: 3; }
}
