
@import '_colors';

.toast {
  border-left: 4px solid;
  padding: 0 15px;
}

.close-icon {
  width: 15px; height: 20px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.info { border-color: $tealish; }
.success { border-color: green; }
.error { border-color: red; }
