
<section class="container-fluid">

  <button (click)="isGrid = !isGrid">grid</button>
  
  <div class="row">
    <div
      *ngFor="let card of cards"
      class="card"
      [ngClass]="{
        'col-12 col-md-4 col-xl-3': !isGrid,
        'col-12': isGrid
      }">

        <header class="card-type bg-blue-1 color-white pos-relative font-10">
          <p class="line-height-24">{{ card.type }}</p>
          <i class="info-icon pos-absolute right-0 top-0"></i>
        </header>

        <div class="card__content bg-white d-flex" [ngClass]="{ 'card__content--grid': isGrid }">

          <figure class="card__logo">
            <img src="/assets/img/png/{{ card.logo }}">
            <figcaption class="card__title">{{ card.title }}</figcaption>
          </figure>

          <ul class="card__options width-100 d-flex">
            <li class="d-flex flex-column color-grey-3 line-height-36 font-14 font-weight-300 width-50">
              <p>Сумма, грн</p>
              <p>Ставка, в день</p>
              <p>Срок, дней</p>
            </li>
            <li class="d-flex flex-column line-height-36 font-14 font-weight-bold line-height-36 width-50">
              <p>до {{ card.amount_max }}</p>
              <p>от {{ card.dayly_rate }}</p>
              <p>от {{ card.term_min }} до {{ card.term_max }}</p>
            </li>
          </ul>

          <div class="p-x-10 width-100 d-flex flex-column align-items-center">
            <button class="bg-green-1 color-white width-100" mat-button>Оформить займ</button>
            <a class="card__details font-14 line-height-18" [routerLink]="['/details/' + card.id]">Подробнее</a>
          </div>

        </div>

    </div>

  </div>

</section>
